
@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot');
    src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontawesome-webfont.woff') format('woff'),
         url('fonts/fontawesome-webfont.ttf') format('truetype'),
         url('fonts/fontawesome-webfont.svg#fontwesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'fontawesome-webfont', Arial, Helvetica, sans-serif;    
}

/*nav*/
nav {
    display: flex;
    float: right;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15% 0 0;
}

#logo {
    padding: 1% 0 0 10%;
}
#menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300px;    
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
#menu li {
    padding: 30px 10px;
}
#menu a {
    text-decoration: none;
}
#menu li:hover {
    border-top: 4px solid #3BAED7;
    cursor: pointer;    
}
#menu a:hover {
    color: #54aed0;    
}

/*header*/

.slider {
    width: 100%;
    overflow: hidden;    
    position: relative;
    margin-top: 20px;
}
.slider figure {
    width: 200%;
    margin: 0;
    position: relative;
}
.slider figure img {
    float: left;
    width: 50%;
    height: auto;    
}
.fleche {
    width: 100%;
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fleche i {
    background-color: rgba(0, 0, 0, 0.3);
    width: 60px;
    height: 60px;
    border-radius: 60px;
    line-height: 60px;
    cursor: pointer;
    color: white;
}
.flechegauche i {
    padding-right: 15px;
    text-align: right;
    position: relative;
    right: 40px;
}
.flechedroite i {
    padding-left: 15px;
    text-align: left;
    position: relative;
    left: 1240px;
}
.presentation {
    width: 40%;
    position: absolute;
    left: 10%;
    top: 20%;
    color: white;    
}
#webagency {
    color: #3BAED7;
}

#projet_web {
    color: #FFFFFF
}
.presentation h1 {
    font-size: 30px;
}
.presentation p {
    font-size: 16px;
}
.presentation p:last-child {
    text-align: center;
    padding: 10px;
    width: 110px;
    border-radius: 2px;
    cursor: pointer;
}

/*Sections Services*/
#pageservices {
    padding: 50px ;
    min-height: 650px; 
}
section p, a, #adresse {
    color: #63686D;
}
h2 {
    font-size: 38px;
}
.intro {
    text-align: center;
}

#image_service{
 margin-top: 50px;   
}

/* Section : Nos services*/
#services{
    margin-top: 50px;
}
.intro p {
    width: 50%;
    margin: auto;
}
.pageservices {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 60px;  
}
#infos {
    margin: -30% 20% 0 45%;
}
#infos .element_deco {
    float: left;
    margin-right: 20px;
    position: relative;
}
.pageservices .fa-circle {
    position: absolute;
    top: 60%;
    right: -6px;
}
.text {
    max-width: 600px;
}
.text p {
    margin-left: 100px;   
    text-align: justify; 
}


/* Projets + Services */
.stroke {
    width: 150px;
    height: 1px;
    margin-bottom: 15px;
    background-color: rgb(235, 235, 235);
    margin: 0 45% 2% 45%;
}

.fa {
    color: #3BAED7;
}
.fa-chevron-left, .fa-chevron-right {
    color: white;
}
.fa-circle {
    text-shadow: -5px 0 white, 0 5px white, 5px 0 white, 0 -5px white;
    margin-bottom: 30px;
}

.intro .fa-circle {
    position: relative;
    bottom: 10px;
}
.icon {
    width: 80px;
    height: 55px;
    border-radius: 100px;
    text-align: center;
    padding-top: 25px;
    border: 1px solid lightgrey;
}

/* Section : Nos projets */
.projet_categorie {
    max-width: 100%;
}

#portfolio {
    background-color: #F5F5F5;
    padding: 20px 0 20px 0;
}
#portfolio .intro ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px auto; 
    width: auto;
}
#portfolio .intro li {
    background-color: #E5E5E5;    
    padding-bottom: 10px;
    padding-top: 1px;
    padding-left: 15px;
}
#portfolio .intro li:hover {
    background-color: #3BAED7;
    color: white;
    font-weight: bold;
    box-shadow: 0 3px 0 #1D8DB5;
    cursor: pointer;
}
#portfolio .intro li:hover > span {
    width: 1px;
    height: 1px;
    border: 8px solid transparent;
    border-top: 3px solid #1D8DB5;
    position: relative;
}

#portfolio li .fa.fa-caret-down{   
    opacity: 0;
    font-size: 30px;
    position: relative;
    top: 30px;
    right: 43px;
    color: rgb(70, 140, 173)
}

#portfolio ul li:first-child {
    right: 40px;
}

#portfolio ul li:last-child {
    right: 43px;
}

#portfolio li:hover .fa.fa-caret-down{
    opacity: 1;
}

#allworks_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 0;
}
#allworks_images li {
    list-style-type: none;
    width: 250px;
    padding: 20px;
}
#allworks_images figure {
    margin: 0;
    position: relative;
    overflow: hidden;
}
#allworks_images img {
    width: 100%;
}
#allworks_images img:hover + figcaption, #allworks_images figcaption:hover {
    visibility: visible;
    cursor: pointer;
}
#allworks_images figcaption {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px;
    position: absolute; 
    width: 100%;
    height: 40px;
    bottom: 4px;
    visibility: hidden;
}
.legende {
    font-size: 13px;
}
#allworks_images strong {
    font-size: 18px;
}
.fa-eye {
    color: white;
    border: 2px solid #FFFFFF;
    padding: 10px;
    border-radius: 20px;
    background-color: #3BAED7;
    float: right;
    position: relative;
    right: 20px;
    bottom: 60px;    
}


/*Section : formulaire de contact*/
#contact iframe {
    background-size: cover;
    width: 100%;
    height: 600px;
    position: absolute;
}
#background {
    background-color: rgba(100, 190, 255, 0.3);
    height: 600px;    
}
aside {
    background-color: rgba(255, 255 ,250, 0.6);
    min-width: 200px;
    width: 360px;
    height: 490px;
    padding: 20px;
    float: right;
    position: relative;
    top: 50px;
    right: 145px;
}
#contact strong {
    font-size: 26px;
}
#adresse span {
    font-weight: bold;
}
#adresse {
    margin-top: 20px;
    margin-bottom: 25px;
}
input {
    min-width: 190px;
    width: 95%;
    height: 25px;
    margin-bottom: 15px; 
}
#message {
    height: 150px;
    width: 95%;
    min-width: 190px;    
    border-color: lightgrey;
    margin-bottom: 15px;
}
.button {
    background-color: #3BAED7;
    color: white;
    border: 0;
    font-size: 14px;
    text-align: center;
    padding: 9px;
    width: 120px;
    border-radius: 3px;
    box-shadow: 0 3px 0 #1D8DB5;
    cursor: pointer;
}

/*Footer*/
footer {
    background-color: rgba(1, 0, 0, 0.8);
    color: #FFFFFF;
    height: 40px;
}
footer div {
    text-align: center;
    font-style: italic;
    font-size: 12px;
    padding: 10px;
}

/*Responsive Design*/

@media screen and (min-width: 600px) and (max-width:910px)
{
.presentation h1 {
	font-size: 17px;
}
.presentation p {
	font-size: 11px;
}
.presentation p:last-child {
	padding: 3px;
	width: 80px;
}  
}


@media screen and (max-width: 600px) and (max-width: 1024px){
#logo{
    margin-left: 25px;
}
nav{
    margin-right: 25px;
    margin-top: 5px;
}

.fleche i {
	font-size: 10px;           
	width: 30px;
	height: 30px;
	border-radius: 30px;
	line-height: 30px;
}
.flechegauche i {
	padding-right: 5px;
	right: 20px;
}
.flechedroite i {
	padding-left: 5px;
	left: 385px;
}
.presentation {
	top: 10%;
}
.presentation h1 {
	font-size: 10px;
}
.presentation p {
	font-size: 9px;
}
.presentation p:last-child {
	padding: 3px;
	width: 60px;
}
#image_service {
	display: none;
}
#projets .intro li {
	padding: 10px 5px;
}
.pageservices {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 60px;  
}
#portfolio .intro ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px auto;
    padding : auto;
    width: auto;
    margin-right: 15px;
}
#portfolio .intro li {
    background-color: #E5E5E5;    
    padding-bottom: 2px;
    padding-top: 30px;
    padding-left: 1%;
    padding-right: 1%;
}
#portfolio li .fa.fa-caret-down{   
    opacity: 0;
    font-size: 30px;
    position: relative;
    top: 22px;
    right: 7px;
    color: rgb(70, 140, 173)
}
#infos {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
    aside {
	margin: auto;
	width: 80%;
	right: auto;
	float: none;
}
}